@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');


$karla: 'Karla', sans-serif;
$libre: 'Libre Baskerville', serif;

$egg: #ffe3ad;
$blue: #1F1839;
$red: #BB6167;
