@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');


$karla: 'Karla', sans-serif;
$staatliches: 'Staatliches', cursive;

$egg: #ffe3ad;
$blue: #1E008E;
$violet: #3D20A9;
$violet50: lighten($violet, 50%);
$red: #BB6167;
